<style>
#searchbuts {
position:relative;
padding: 12px;
border: 1px solid #ddd;
width: 165px;
border-radius: 12px;
-webkit-border-radius:12px;
-moz-border-radius:12px;
-opera-border-radius:12px;
-khtml-border-radius:12px;
background-color:rgba(240,240,240,1);
padding-top: 25px;}

.rentingbut{background-image:url(img/rentingbut.jpg);}
.keyreadybut{background-image:url(img/keyreadybut.jpg);}
.apbut{background-image:url(img/apbut.jpg);}
.thbut{background-image:url(img/thbut.jpg);}
.fincabut{background-image:url(img/fincabut.jpg);}
.villabut{background-image:url(img/villabut.jpg);}
.golfbut{background-image:url(img/golfbut.jpg);}
.beachbut{background-image:url(img/beachbut.jpg);}
.penthousebut{background-image:url(img/penthousebut.jpg);}
.bizbut{background-image:url(img/bizbut.jpg);}

.searchbut{position:relative;border:solid 1px #ccc;width:141px;height:75px;background-color:#fff;background-repeat:no-repeat;background-position: center;margin-bottom:10px;}
.searchbut-label{position:absolute;width:141px;xheight:25px;bottom:5px;background-color:rgb(255,255,255);filter: alpha(opacity=60);opacity:0.6;padding-top:4px;}/* opacity:0.65;*/
#searchbuts a{font-size:16px;font-weight:bold;color:#30048B;text-decoration:none;text-align:center;}
#searchbuts a:hover{color:#30048B;font-size:18px;}
</style>
<div id="searchbuts">
<a targ="/Monica/renting" href="/costa-blanca-long-term-rental-property-0.html" title="Costa Blanca Homes for rent"><div class="searchbut rentingbut"><div class="searchbut-label">Rental Homes</div></div></a>
<a targ="/Monica/Keyready" href="/key-ready-homes-costa-blanca-south-0.html" title="Key Ready Costa Blanca Homes"><div class="searchbut keyreadybut"><div class="searchbut-label">Key Ready Homes</div></div></a>
<a targ="/Monica/Beach" href="/beach-property-south-costa-blanca-0.html" title="Costa Blanca Homes near to the beach"><div class="searchbut beachbut"><div class="searchbut-label">Beach Homes</div></div></a>
<a targ="/Monica/Villas" href="/villas-for-sale-costa-blanca-south-0.html" title="Villas"><div class="searchbut villabut"><div class="searchbut-label">Villas</div></div></a>
<a targ="/Monica/business" href="/costa-blanca-commercial-property-0.html" title="Costa Blanca Business For Sale"><div class="searchbut bizbut"><div class="searchbut-label">Business</div></div></a>
<a targ="/Monica/Apartments" href="/apartments-for-sale-costa-blanca-south-0.html" title="Costa Blanca Apartments"><div class="searchbut apbut"><div class="searchbut-label">Apartments</div></div></a>
<a targ="/Monica/Penthouse" href="/penthouse-apartments-south-costa-blanca-0.html" title="Costa Blanca Penthouse and luxury property"><div class="searchbut penthousebut"><div class="searchbut-label">Penthouses</div></div></a>
<a targ="/Monica/Townhouse" href="/townhouses-for-sale-costa-blanca-south-0.html" title="Costa Blanca Townhouses"><div class="searchbut thbut"><div class="searchbut-label">Townhouses</div></div></a>
<a targ="/Monica/Fincaas" href="/fincas-and-country-homes-for-sale-costa-blanca-south-0.html" title="Costa Blanca Homes in a more rural location"><div class="searchbut fincabut"><div class="searchbut-label">Fincas</div></div></a>
<a targ="/Monica/Golf" href="/golf-property-south-costa-blanca-0.html" title="Costa Blanca Property close to or on golf courses"><div class="searchbut golfbut"><div class="searchbut-label">Golf Homes</div></div></a>
</div>

